body {
  background-color: #f2f2f2;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Avenir, Helvecia, Arial, sans-serif;
}

input {
  background-color: #f2f2f2;
  border: 2px solid #ddd;
  border-radius: 20pt;
  margin: 10pt 0 10pt 15pt;
  padding-left: 15pt;
  padding-right: 15pt;
  font-size: 15px;
  height: 30pt;
  outline: none;
  transition: 0.2s ease-in-out;
  color: #333;
}

label {
  margin: 0 10pt;
}