body {
  background-color: #f2f2f2;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Avenir, Helvecia, Arial, sans-serif;
}

input {
  background-color: #f2f2f2;
  border: 3px solid #ddd;
  border-radius: 20pt;
  width: calc(100% - 35pt);
  margin: 0;
  padding-left: 15pt;
  padding-right: 15pt;
  font-size: 15px;
  height: 30pt;
  outline: none;
  transition: 0.2s ease-in-out;
  margin-bottom: 10pt;
  margin-top: 10pt;
  color: #333;
}